<div class="main mainbg">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="tag-line">
            <div class="lines">

                <!-- <p>Available in select states</p> -->
                <p class="primaryBlue">A PET-FIRST</p>

                <p class="primaryOrange">APPROACH TO

                </p>
                
                <p class="primaryBlue">WELLNESS</p>
                <button class="learn-more">Learn More</button>
            </div>
        </div>
        <!-- <img src="../../../assets/images/Dots.png" alt=""> -->
        <app-img-template></app-img-template>
    </div>
</div>