<div class="container mainbg">

    <div class="form-container" >
        <h2>List a Pet</h2>
        <form #listForm="ngForm" (submit)="onPetSubmit(listForm)" >
            <div class="form-group">
                <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required ngModel>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" required ngModel>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Write your message here" required ngModel></textarea>
      </div>
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
    <input type="file" name="image" (change)="onFileSelected($event)">
  </div>
</div>